*{
    margin: 0;
    
    font-family: 'Inter', sans-serif;
}
    /* banner style */
.banner-section{
    background-repeat: none;
    position: absolute;
    margin-top: 150px;
    margin-left: 900px;
    margin-right: 50px;
    text-align: right;
}
.banner-title{
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}
.banner-description{
    margin-left: 100px;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.banner-btn{
    padding: 20px 30px;
    font-size: 20px;
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    border-color: #005FAC;
}
.failure-section{
    display: flex;
}
.failure-person{
    margin-top: 100px;
    margin-left: 210px;
}
.my-failures{
    margin-top: 350px;
    margin-left: 250px;
    margin-right: 100px;
}
.failure-title{
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 45px;
}
.failure-description{
    padding-bottom: 20px;
    color: #444343;
}
.failure-list{
    color: #444343;
    padding-left: 7px;
    
    
}
span{
    display: inline-block;
    padding-bottom: 15px;
    transform: rotate(45deg);
    height: 5px;
    width: 8px;
    
    border-bottom: 3px solid darkolivegreen;
    border-right: 3px solid darkolivegreen;
} 
